@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url(../fonts/TrebuchetMS-Bold.ttf);
    font-weight: 700;
}
/* 
900 - black
800 - extrabold
700 - bold
600 - semibold
500 - medium
400 -regular/normal
300 - light
200 - extralight
100 - thin
*/